<!DOCTYPE html>

<html>
  <head>
    <title>ActioncableSymphony</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <% "stylesheet_pack_tag 'application'" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>Testing</h1>

    <%= yield %>
  </body>
</html>
